:root {
   font-size: calc(0.6em + 1vw);
 }
 body {
   font-family: 'Roboto', sans-serif;
   padding-top: 2.5rem;
   font-size: smaller;
 }
 header, footer{
    background-color: #233d4d;
    color: #f9ab00;
 }
 .logo{
    width: 7rem;
 }


h2 {
  font-family: 'Raleway', sans-serif !important;
  color: #233d4d;
  font-weight: 600; 
  
}
h1{
   font-family: 'Raleway', sans-serif !important;
   font-size: 1.5rem;
   color: #f9ab00;

}
.listadmin ul {
   margin-left: -1.5rem;
   text-decoration: none;
   list-style-type: none;
 }
 .listadmin ul li a {
   color: #233d4d;
   font-size: 0.8rem;
 }
 .table{
  font-size: smaller;
 }
 .listadmin .dropdown-divider{
  border-top: 1px solid #233d4d;
 }
 #form-submit, .btn-outline-dark{
  background: #f9ab00;
  color: #233d4d;
  letter-spacing: 0.1rem;
  
}