{% extends 'baseAdmin.html.twig' %}

{% block title %}carte - form{% endblock title %}

{% block body %}

    {{ parent() }}

    <div class="col-10 p-3">
        <h2 class="py-3">Formulaire</h2>
        {{ form_start(formulaireMenu) }}
        {{ form_end(formulaireMenu) }}
    </div>

{% endblock %}